#about{
    margin-top: 12%;
   background-color: #151515;
   height: 100%;
 
}
.abt-contain{
   
    padding-top: 1%;
    background-color: #151515;
}
.about-img{

    margin-top: 10%;
    height: 80%;
    width: 80%;
}
.about-heading{
    
    margin-top: 3%;
    text-align: center;
    color:#892cdc ;
}

.about-content{
    padding-top: 6%;
    line-height: 2.5;
    margin-top: 5%;
    color: white;
    padding-bottom: 17%;

}

