#contactMe{
    background-color: #151515;
    width: 100%;
    color: white;
    
}

.contact-row{
    margin-top: 6%;
}
.contactMe-heading{

    padding-top: 6% ;
    text-align: center;
    color: #892cdc;
}
.footer-icon{
    color: #892cdc;
}

.footer-icon:hover{
    color: #bc6ff1;
}

.contact-row p{
    margin-top: 3%;
}

.back-to-top{
    
    position: absolute;
    
    left: 92%;
    top: 295vh;
  

}

.copyright{

    padding-top: 8%;
    text-align: center;
    color: rgb(184, 184, 184);
    margin-bottom: 0;
    padding-bottom: 2%;
}

