.main{
    color: white;
   
}

.main-content{
    margin-top: 23%;
    margin-left: 8%;
}
.main-img{
    margin-top: 13%;
    height: 70%;
    width: 70%;
}

.main-txt-content{
    color: #892cdc;
}

