.skills-heading{
    text-align: center;
    color:#892cdc ;
}
.skills-contain{

    padding-bottom: 12%;
}
#skills{
     padding-top: 4%;
    margin-top: 3%;
    color: white;
}

.skills-icon{
    text-align: center;
}

#skills-row1{

    margin-top: 9%;
}

#skills-row1 p{
    margin-top: 6%;
}


#skills-row2 p{
    margin-top: 6%;
}

#skills-row2{
     
    margin-top: 10%;
}


