.skills-heading{
    text-align: center;
    color:#892cdc ;
}

#skills{

    margin-top: 7%;
    color: white;
}

.skills-icon{
    text-align: center;
}

#skills-row1{

    margin-top: 6%;
}

#skills-row1 p{
    margin-top: 6%;
}


#skills-row2 p{
    margin-top: 6%;
}

#skills-row2{
     
    margin-top: 6%;
}


